body {
	background-color: rgba(150, 150, 175, 0.2);
	z-index: -1;
}

#header{
	color: rgb(75,75,75);
}

#header div {
	width: 50%;
	text-align: center;
}

#imageBtn {
	width: 100%;
	margin: 0;
	text-align: center;
}

#imgCatDiv {
	width: 100%;
	margin: auto;
}

h1 {
	margin: auto;
	text-align: center;
	width: 50%;
}


.square {
	position: relative;
	color: black;
	width: var(--width);
	padding-bottom: var(--padding-bottom);
	float: left;
	margin: 0.5%;
	transition: all 800ms;
}

.square:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.hidden {
	background-color: black;
}

.disabled:after {
	background-color: rgba(0,200,0,0.2);
}

.hidden:hover:after {
	background: #0a0a0a;
}

.hidden:after {
	background: #000;
	transition: all 600ms 500ms;
}

.show {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin: auto;
	display: block;
}

.model{
	position: absolute;
	top: 0;
	bottom: 0%;
	left: 0;
	right: 0;
	display: none;
	width: 100%;
	text-align: center;
	padding: 0;
	background-color: rgba(0,0,0,.2);
}

.popup{
	top: 10%;
	width: 80%;
	background-color: rgba(230,230,230,1);
}

.clearFix {
	width: 0;
	height: 0;
	clear: both;
}

.complete .model {
	display: block;
}

#gameBoard {
	width: 80%;
	margin: auto;
}
